.no_result{
    color: rgb(248, 220, 63);
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}