@import url(../style/index.scss);

.lang{
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1.8vw;
    gap: 0.5vw;
    margin: 0 0 0 2vw ;
    p{
        padding: 0.28vw;
        background-color: grey;
        border-radius: 0.5vw;
        color: white;
        text-transform: uppercase;
        font-size: 1.1vw;
        font-weight: 600;
    }
    .langchange{
        display: none;
        flex-direction: column;
        gap: 0.5vw;
        padding: 0.5vw;
        background-color: rgb(188, 177, 177) ;
        border-radius: 0.5vw;
        position: absolute;
        right: 10%;
        top: 100%;
        button{
            background: none;
            color: rgb(62, 35, 35);
            border: none;
            font-size: 1.2vw;
            font-weight: 700;
            font-family: sans-serif;
            text-align: start;
        }
    }
}

.lang:hover{
    .langchange{
        display: flex;
    }
}

@media(max-width:768px){
    .lang{
        margin: 0;
        p{
            font-size: 13px;
            width: 23px;
            height: 23px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .langchange{
            button{
                font-size: 16px;
            }
        }
    }
}