@import url(../../style/index.scss);

.asosiy{
    .mySwiper{
        height: 50vw;
        padding-top: 6vw;
        width: 100%;
        .swiper-wrapper{
            .swiper-slide{
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 0 0 0 0;
                }
            }
        }
    }
}

@media(max-width:768px){
    .asosiy{
        .mySwiper{
            height: 80vw;
            padding-top: 1vw;
            .swiper-wrapper{
                .swiper-slide{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        margin-top: 9vw;
                        // border-radius: 5vw;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }   
}

@media(max-width:550px){
    .asosiy{
        .mySwiper{
            height: 100vw;
            padding-top: 8vw;
        }
    }
}

@media(max-width:425px){
    .asosiy{
        .mySwiper{
            height: 100vw;
        }
    }   
}

@media(max-width:350px){
    .asosiy{
        .mySwiper{
            height: 120vw;
        }
    }
}