@import url(../../../style/index.scss);

.oraliqo {
  background-color: #282828;
  display: flex;
  flex-direction: column;
  gap: 4vw;
  padding: 10vw 0;
  .oraliq_grp {
    width: 90%;
    margin: auto;
    text-align: center;
    border-radius: 5vw;
    border: 2px solid white;
    padding: 3vw 0;
    img {
      width: 90%;
      height: 65%;
    }
    p {
      color: white;
      text-align: start;
      padding-left: 5vw;
      margin: 3vw 0;
      font-weight: bold;
      font-size: 4vw;
    }
    button {
      font-size: 3vw;
      font-family: "Inter", sans-serif;
      background: linear-gradient(
        140deg,
        #5c5c5c 1.86%,
        #cdcbcb 44.24%,
        #5c5c5c 96.52%
      );
      border: none;
      border-radius: 1vw;
      width: 40%;
      font-weight: bold;
      color: #111;
      padding: 1vw;
      text-align: center;
      margin-left: -45vw;
    }
  }
}
