@import url(../../style/index.scss);

.info_image_grp {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 180px 0;
  flex-wrap: wrap;
  background-color: aliceblue;
  gap: 40px;
  img {
    width: 45%;
  }
  .info_in_grp {
    margin-top: 40px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    p {
      font-size: 2vw;
      color: rgb(95, 93, 93);
      span {
        color: #282828;
      }
    }
  }
}

@media (max-width: 1090px) {
  .info_image_grp {
    .info_in_grp {
      background-color: rgb(38, 17, 17);
      width: 80%;
      padding: 10px;
      border-radius: 1vw;
      align-items: center;
      justify-content: center;
      p {
        font-size: 3vw;
        color: rgb(131, 127, 127);
        span {
          color: #f3f0f0;
        }
      }
    }
  }
}

@media (max-width: 665px) {
  .info_image_grp {
    padding: 80px 0;
    img {
      width: 90%;
      margin: auto;
      height: auto;
    }
    .info_in_grp {
      width: 90%;
      padding: 20px 10px;
      p {
        font-size: 4vw;
      }
    }
  }
}
